{% extends "base.html" %}

{% block title %}商品追加{% endblock %}

{% block content %}
<h1 class="form-title">新しい商品を追加</h1>

<div class="form-wrapper">
    <form method="post">
      <label>商品名：</label><br>
      <input type="text" name="name" class="input-field" placeholder="例：コーヒー豆"><br><br>
  
      <label>単位：</label><br>
      <input type="text" name="unit" class="input-field" placeholder="例：g, ml, 個"><br><br>
  
      <label>初期在庫数：</label><br>
      <input type="number" name="stock" class="input-field" placeholder="例：100"><br><br>
  
      <button type="submit" class="btn btn-add">追加</button>
    </form>
  </div>

{% endblock %}
